.App {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
  color: #121212;
}

h1 {
  margin: 0px;
}

.main h1 {
  margin: 40px;
}

hr {
  width: 90%;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: row;
}

a:link,
a:visited,
a:active {
  color: #121212;
  text-decoration: none;
}

.link {
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #121212;
}

.search {
  min-width: 500px;
  width: 30vw;
  height: 40px;
  padding-left: 15px;
  font-size: 15px;
  border: 1px solid #121212;
}

#submit {
  border: none;
  background-color: rgb(228, 228, 228);
  width: 75px;
  height: 30px;
  margin: 15px;
  border-radius: 10px;
  color: #121212;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.address {
  list-style: none;
  text-align: left;
  font-size: 25px;
  font-style: bold;
}

.nearbyresults {
  width: 50%;
  max-width: 700px;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-size: 20px;
}

.nearby {
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.item {
  flex: 50%;
  justify-content: left;
}

.results {
  width: 90vw;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
  padding: 20px;
}

.overall_rating {
  color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
  flex: 2;
}

.right {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.spacer {
  flex: 2;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  margin: 0;
  flex: 1;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  padding-top: 0;
}

.rating {
  width: 350px;
  height: 75px;
  background-color: lightseagreen;
  border-radius: 25px;
  color: whitesmoke;
  border: none;
  margin: 15px;
  padding: 15px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  font-weight: bold;
}

.red {
  background-color: lightcoral;
}

.yellow {
  background-color: rgb(254, 195, 86);
}

.green {
  background-color: lightseagreen;
}